div.main(did="1")
	div.minWidth
		div.banner
			div.banner_cont
				ul(style="left:0px")
					li
						a(href="/details")
							img(src="/images/banner1.jpg")
					li
						a(href="/details")
							img(src="/images/banner2.jpg")
					li
						a(href="/details")
							img(src="/images/banner3.jpg")
			ul.circular
				li.on
				li
				li
			div.banner_btn.banner_left
			div.banner_btn.banner_right
		div#ke(style="height:30px",name="ke")
		div.livecourse
			div.livecourse_left
				ul
					if(istrue)
						li
							a(href="/all/"+name).on 全部
					else
						li
							a(href="/all/"+name) 全部
					if(isios)
						li
							a(href="/ios/"+name).on iOS
					else
						li
							a(href="/ios/"+name) iOS
					if(ishtml)
						li
							a(href="/html/"+name).on HTML5
					else
						li
							a(href="/html/"+name) HTML5
					if(isunity)
						li
							a(href="/unity/"+name).on Unity-3D
					else
						li
							a(href="/unity/"+name) Unity-3D
					if(isreact)
						li
							a(href="/react/"+name).on React Native
					else
						li
							a(href="/react/"+name) React Native
			div.livecourse_right
				div.livecourse_right_tle
					a(href=cname+"/total")
						span(class=active.all) 全部
					a(href=cname+"/zhibo")
						if(isDirec)
							span(class=active.zhibo) #{isDirect}
						else
							span(class=active.zhibo) #{isDirect}
					a(href=cname+"/dianbo")
						if(isBunc)
							span(class=active.dianbo) #{isBunch}
						else
							span(class=active.dianbo) #{isBunch}
				div.livecourse_right_cont
					-each item,index in data
						div.livecourse_right_box
							a(href="/details")
								img(src="#{item.pic}")
								div.info
									div.title #{item.className}
									p 
										span 蓝鸥科技
										span #{item.date}
									p.places
										span 剩余名额：#{item.number}
									em #{item.des}
								div.money
									em #{item.oldPrice}
									i #{item.price}			
		div.page
			div
				a(href="/").first 首页
				a(href="/").prev 上一页
				a(href="/").next 下一页
				a(href="/").end 尾页
				a(href="/").num 第
					input(type="text",disabled="disabled",value="1")
					span 页
				span.row 共2页